github/
sync_logs/
DeviceOn/
ReleasePackage/x86/OEM/

**/@eaDir

**/*.doc
**/*.docx
**/*.DOCX
**/*.xls
**/*.xlsx
**/*.ppt
**/*.pptx
**/*.txt
**/*.ini
**/*.msg
**/*.md5
**/*.rar
**/*.7z
**/*.zip
**/*.jpg
**/*.JPG
**/*.png
**/*.PNG
**/*.thumbs.db
**/*.Thumbs.db
